.staff-form-holder {
  width: 65%;
  min-width: 280px;

  input, select{
    &:focus {
      border-color: $alert-info-text;
      outline: $alert-info-text;
      box-shadow: none;
    }

  }
  
}
form{
  label {
    font-weight: 100;
  }
  .error{
    min-width: 300px;
    position: absolute;
    color: $alert-danger-text;
    font-weight: bolder;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .invalid {
    input {
      border-color: $alert-danger-border;
    }
    .error {
      opacity: 1;
    }
  }
  .btn-info {
    background: $alert-info-text;
    &:focus, &:active {
      color: $alert-info-text;
      background: #fff;
    }

  }
  select  {
    -moz-appearance:none;
  }
  input[type="number"] {
    -moz-appearance: textField;
  }

}