body {
  font-family: Raleway;
  font-size: 13px;
  min-width: 320px;

  h1 {
    width: 100%;
    background: $alert-info-text;
    margin: 0;
    padding: 10px 25px;
    color: white;
    font-size: 28px;
  }
}