.staff-form-holder {
  @media screen and (min-height: 520px) and (min-width: 350px) {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media screen and (max-height: 520px) {
    margin: 20px auto;
  }
  @media screen and (max-width: 350px) {
    margin: 20px auto;
  }
  @media screen and (max-width: $screen-xs-max) {
    width: 95%;
  }
}